# This file is for unifying the coding style for different editors and IDEs.
# More information at http://editorconfig.org to setup your IDE if need be.

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.js]
trim_trailing_whitespace = true

[*.{md,markdown}]
trim_trailing_whitespace = false
